#loader{
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:9999;
    transition: opacity .8s ease;
}

.loader-heart{
    font-size:60px;
    animation: beat 1s infinite;
}

.loader-text{
    margin-top:20px;
    color:white;
    font-size:24px;
    font-weight:bold;
}

@keyframes beat{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
}