/* ===========================
   Premium Photo Ring
=========================== */

.hero-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image::before{
    content: "";
    position: absolute;

    width: 355px;
    height: 355px;

    border-radius: 50%;

    background: conic-gradient(
        #ff4d6d,
        #ffd166,
        #ffffff,
        #ff85a2,
        #ff4d6d
    );

    animation: rotateRing 8s linear infinite;

    z-index: -1;

    filter: blur(2px);
}

.hero-image::after{

    content:"";

    position:absolute;

    width:340px;
    height:340px;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter: blur(10px);

    z-index:-1;

}

.hero-image img{

    transition:.5s;

}

.hero-image img:hover{

    transform:scale(1.05);

    box-shadow:
        0 0 20px #fff,
        0 0 40px #ff85a2,
        0 0 70px #ff4d6d;

}

@keyframes rotateRing{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}